@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Flow+Circular&family=Roboto+Condensed:wght@300&display=swap");
.ContactContainer {
  display: flex;
  flex-direction: column;
}

.ContactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ContactInfo p {
  white-space: break-spaces;
  display: flex;
  text-align: center;
  font-size: 25px;
  width: 300px;
}

.ContactInfo h1 {
  white-space: break-spaces;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}

.Telephones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: start;
  align-items: center;
  transition: all ease-out 0.6s;
  font-family: "Bebas Neue", sans-serif;
  opacity: 0.5;
}

.Location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2vh;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: start;
  align-items: center;
  transition: all ease-out 0.6s;
  font-family: "Bebas Neue", sans-serif;
  opacity: 0.5;
}

.SocialMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: start;
  align-items: center;
  transition: all ease-out 0.6s;
  font-family: "Bebas Neue", sans-serif;
  opacity: 0.5;
}

.Telephones:hover {
  width: 150%;
  opacity: 1;
  transition: all ease-out 0.6s;
}

.Location:hover {
  width: 150%;
  opacity: 1;
  transition: all ease-in-out 0.6s;
}

.SocialMedia:hover {
  width: 150%;
  opacity: 1;
  transition: all ease-in-out 0.6s;
}
