@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Flow+Circular&family=Roboto+Condensed:wght@300&display=swap");
.ContactContainer {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
}

.ContactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.ContactInfo p {
  white-space: break-spaces;
  display: flex;
  text-align: center;
  font-size: 25px;
  width: 50%;
}

.ContactInfo h1 {
  white-space: break-spaces;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 45px;
}

.Telephones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;
  transition: all ease-out 0.6s;
  font-family: "Bebas Neue", sans-serif;
}

.PhoneNumbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.Location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2vh;
  height: 100%;
  width: 100%;
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;
  transition: all ease-out 0.6s;
  font-family: "Bebas Neue", sans-serif;
  z-index: 0;
}

.SocialMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;
  transition: all ease-out 0.6s;
  font-family: "Bebas Neue", sans-serif;
}

.SocialMediaIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vmax;
  align-items: center;
  width: 50%;
  height: 100%;
}

#facebook {
  transition: all ease-out 0.2s;
}

#instagram {
  transition: all ease-out 0.2s;
}

#facebook:hover {
  transform: scale(1.2);
  transition: all ease-in-out 0.2s;
}
#instagram:hover {
  transform: scale(1.2);
  transition: all ease-in-out 0.2s;
}

/* .Telephones:hover {
  width: 150%;
  opacity: 1;
  transition: all ease-out 0.6s;
}

.Location:hover {
  width: 150%;
  opacity: 1;
  transition: all ease-in-out 0.6s;
}

.SocialMedia:hover {
  width: 150%;
  opacity: 1;
  transition: all ease-in-out 0.6s;
} */

.EmailForm {
  margin-top: 25vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  font-size: 30px;
  margin-bottom: 4vmax;
}

.EmailForm h1 {
  white-space: break-spaces;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  width: 100%;
}

.EmailForm form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
}

.EmailForm label {
  margin-bottom: 1vh;
}

.EmailForm input {
  margin-bottom: 3vh;
  padding: 0;
  width: 100%;
  height: 5vh;
  border: none;
  border-bottom: solid thin;
  background-color: transparent;
}

.EmailForm button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}

#formEmail :nth-child(6) {
  text-align: flex-start;
  text-overflow: clip;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

#formEmail :nth-child(7) {
  margin: 0;
  padding: 0;
  border: solid thin;
  height: 20vh;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 20vh;
}
