@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Flow+Circular&family=Roboto+Condensed:wght@300&display=swap");

.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
}

.LeftContainer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-flex-start;
  width: 20%;
  background-color: rgb(240, 240, 240);
}

.Menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-flex-start;
  width: 100%;
  height: 100%;
  position: sticky;
  top: calc(2vmax + 15px);
  font-size: 20px;
  max-height: calc(
    100vh - 2vmax - 15px
  ); /* Set a maximum height for scrollability */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: 100px;
  overflow-x: hidden;
}

.Menu::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.Menu::-webkit-scrollbar-track {
  background-color: #dddddd; /* Set the background color of the scrollbar track */
}

.Menu::-webkit-scrollbar-thumb {
  background-color: #999999; /* Set the color of the scrollbar thumb */
}

.LeftContainer2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.LeftContainer2 h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  font-size: 2.5vmax;
}

.RightContainer2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding-left: 1vmax;
  overflow: hidden;
  margin-bottom: 2vmax;
}

.Categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
}

.Categories h1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  font-size: 2.5vmax;
}

.Cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  gap: 1vmax;
  overflow-x: scroll;
  padding-bottom: 8px;
}

.Cards::-webkit-scrollbar {
  height: 8px; /* Set the width of the scrollbar */
}

.Cards::-webkit-scrollbar-track {
  background-color: #dddddd; /* Set the background color of the scrollbar track */
}

.Cards::-webkit-scrollbar-thumb {
  background-color: #999999; /* Set the color of the scrollbar thumb */
}

.ProductCard {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 1vmax;
  border: solid thin;
  width: fit-content;
  height: 250px;
  width: 200px;
  min-width: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.CardImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
  transition: opacity 0.25s, scale 0.35s;
  overflow: hidden;
  z-index: 1;
}

.ProductCard:hover .CardImage {
  scale: 1;
}

.ProductCard label {
  font-weight: bolder;
  font-size: 20px;
  z-index: 99;
}

.Click {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  opacity: 0;
  transform: translateY(-25px);
  /* Position the tooltip */
  position:relative;
  z-index: 99;
  transition-delay: 0.3s;
  transition: all 0.25s;
}

.ProductCard:hover .Click {
  opacity: 1;
  transform: translateY(0);
}
