@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Oswald:wght@300&display=swap");

@media screen and (min-width: 800px) {
  .Bar {
    width: 100%;
    display: block;
    background-color: white;
    box-shadow: rgb(50, 50, 50) 0px 10px 5px 0px;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .Navitems {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .Navitem1 {
    display: flex;
  }

  .Navitem2 {
    display: flex;
  }

  .Navitem3 {
    display: none;
  }

  .List {
    display: none;
  }

  button {
    border: none;
    border-radius: none;
    text-decoration: none;
    text-align: center;
    padding: 1vmax;
    background-color: transparent;
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
  }

  button:hover {
    background-color: rgb(168, 255, 207);
  }

  a {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 799px) {
  .Bar {
    width: 100%;
    display: block;
    background-color: white;
    box-shadow: rgb(50, 50, 50) 0px 10px 5px 0px;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .Navitems {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .Navitem1 {
    display: flex;
  }

  .Navitem2 {
    display: none;
  }

  .Navitem3 {
    display: flex;
    padding: 0;
  }

  .List {
    background-color: white;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 101;
  }

  .Navitems2 {
    width: 100%;
    display: flex;
  }

  .Navitem4 {
    width: 100%;
    display: block;
    box-shadow: rgb(50, 50, 50) 0px 10px 5px 0px;
  }

  .Navitem4 button {
    height: fit-content;
    width: 100%;
    text-align: left;
    border-top: 1px solid rgb(236, 236, 236);
  }

  button {
    border: none;
    border-radius: none;
    text-decoration: none;
    text-align: center;
    padding: 1vmax;
    height: 100%;
    background-color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
  }

  button:hover {
    background-color: rgb(168, 255, 207);
  }

  a {
    margin: 0;
    padding: 0;
  }
}
