@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Flow+Circular&family=Roboto+Condensed:wght@300&display=swap");

.ProfileOverAllContainer {
  display: flex;
  gap: 25vh;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  font-family: "Bebas Neue", sans-serif;
}

.HeaderContainer {
  display: flex;
  gap: 5vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.HeaderContainer h1 {
  font-size: 65px;
  border-bottom: solid thin;
  box-shadow: 0px 10px 10px -14px;
}

.HeaderContainer p {
  font-size: larger;
  border-bottom: solid thin;
  box-shadow: 0px 10px 10px -14px;
}

.LoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.LoginContainer h1 {
  font-size: larger;
  border-bottom: solid thin;
}
