.Background2 {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.Description {
  margin: 100px;
  display: flex;
  flex-direction: row-reverse;
  height: 800px;
  width: 1200px;
  background-color: rgb(255, 255, 255);
  /* border: thin solid black; */
  box-shadow: 0px 10px 10px -13px;
  justify-content: space-between;
  align-items: center;
}

.RightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 50%;
}

.LeftSide {
  display: flex;
  justify-content:flex-start;
  align-items: start;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 50%;
}

.LeftSide img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
